* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {

    /*background-color: white;*/
    
    background-image: url(background_plan.jpg);
    background-size: cover;
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100vh;
}
#menu {
    background-color: #181818;
    text-decoration: none;
    height: 60px;

}

#menu li {
    display: inline-block;
    list-style: none;
    margin-left: 4%;
    margin-top: 1%;
}

#menu a {
    text-decoration: none;
    font-size: 20px;
    color: white;

}

li:hover {
    background-color: green;

}

.end-link {
    float: right;
    margin-right: 4%;

}

#name {
    display: inline-block;
    color: white;
    border: 0px solid black;
    margin-top: 10%;
    margin-left: 10%;

    font-size: 40px;
    width: 50%;
}

#ability {
    color: white;
    margin-left: 10%;
    margin-top: 3%;
    font-size: 30px;
}

#edu {
    margin-left: 10%;
    margin-top: 3%;
    font-size: 25px;
    color: white;
}

i {
    font-size: 100px;
    margin-left: 47%;

    margin-top: 4%;
    color: white;
}

img {
    margin-left: 46%;
    margin-top: 4%;
    width: 100px;
}

@media screen and (max-width:760px) {

    #name {
        display: inline-block;
        color: white;
        border: 0px solid black;
        margin-top: 10%;
        margin-left: 10%;

        font-size: 36px;
        width: 50%;
    }

    #ability {
        color: white;
        margin-left: 10%;
        margin-top: 3%;
        font-size: 26px;
    }

    #edu {
        margin-left: 10%;
        margin-top: 3%;
        font-size: 20px;
        color: white;
    }

}
@media screen and (max-width:400px) {

    #name {
        display: inline-block;
        color: white;
        border: 0px solid black;
        margin-top: 10%;
        margin-left: 10%;

        font-size: 30px;
        width: 50%;
    }

    #ability {
        color: white;
        margin-left: 10%;
        margin-top: 3%;
        font-size: 20px;
    }

    #edu {
        margin-left: 10%;
        margin-top: 3%;
        font-size: 15px;
        color: white;
    } 
    i {
    font-size: 100px;
    margin-left: 40%;

    margin-top: 4%;
    color: white;
}
    img {
    margin-left: 38%;
    margin-top: 4%;
}
    

}
